/* line 4, ../sass/screen.scss */
body {
  margin: 0;
  background: black;
  overflow: hidden;
}

/* line 9, ../sass/screen.scss */
canvas {
  width: 100%;
  height: 100%;
}

/* line 12, ../sass/screen.scss */
#stats {
  display: none;
}

/* line 16, ../sass/screen.scss */
#characterMenu {
  position: absolute;
  width: 15rem;
  background: rgba(241, 253, 241, 0.5);
  border-radius: 1rem;
  -moz-transition: opacity ease-in;
  -o-transition: opacity ease-in;
  -webkit-transition: opacity ease-in;
  transition: opacity ease-in;
  pointer-events: none;
  opacity: 0;
}
/* line 25, ../sass/screen.scss */
#characterMenu.active {
  opacity: 1;
  pointer-events: all;
}
/* line 30, ../sass/screen.scss */
#characterMenu .portrait {
  position: absolute;
  left: 0;
  top: 50%;
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.4);
  -ms-transform: translateX(-50%) translateY(-50%) scale(0.4);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.4);
  transform: translateX(-50%) translateY(-50%) scale(0.4);
}
/* line 37, ../sass/screen.scss */
#characterMenu ul {
  margin: 0;
  padding: 0;
  padding-left: 3.5rem;
  list-style-type: none;
}
/* line 43, ../sass/screen.scss */
#characterMenu ul li {
  padding: 0.1rem 1rem;
  width: 100%;
  -moz-transition: all ease-in;
  -o-transition: all ease-in;
  -webkit-transition: all ease-in;
  transition: all ease-in;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Trebuchet MS";
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
}
/* line 53, ../sass/screen.scss */
#characterMenu ul li:hover {
  background: #c3dbff;
}
/* line 57, ../sass/screen.scss */
#characterMenu ul li:first-child {
  border-top-right-radius: 1rem;
}
/* line 61, ../sass/screen.scss */
#characterMenu ul li:last-child {
  border-bottom-right-radius: 1rem;
}
